<div class="container">
    <div class="row">
        <div class="col">
            <h2>
                Sign Into Your Account
            </h2>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="email-login" class="form-label">email:</label>
                    <input type="text" class="form-control" id="email-login" />
                </div>
                <div class="col-md-6">
                    <label for="password-login" class="form-label">password:</label>
                    <input type="password" class="form-control" id="password-login" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-info btn-sm">login</button>
                </div>
            </form>
        </div>
        <div class="col">
            <h2>
                Create An Account
            </h2>
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="username-signup" class="form-label">username:</label>
                    <input type="text" class="form-control" id="username-signup" />
                </div>
                <div class="col-md-6">
                    <label for="email-signup" class="form-label">email:</label>
                    <input type="text" class="form-control" id="email-signup" />
                </div>
                <div class="col-md-6">
                    <label for="password-signup" class="form-label">password:</label>
                    <input type="password" class="form-control" id="password-signup" />
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-info btn-sm">signup</button>
                </div>
            </form>
        </div>
    </div>
</div>